*{
    margin: 0;padding: 0;box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
form{
    display: flex;
    gap: 10px;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 70px;
    width: 98.5%;
    margin: 10px;
    padding: 10px;
    background: #3e3333;
    color: aliceblue;
}
input{
    height: 35px;
    width: 300px;
    border-radius: 15px;
    padding: 0 5px;
}
button{
    padding: 5px 10px;
    border-radius: 5px;
}
button:hover{
    background-color: rgb(218, 217, 217);
}
main{
 margin: 10px;
 margin-left: 20rem;
 padding: 10px;
 height: 270px;
 width: 50%;
 display: grid;
 grid-template-columns: repeat(2 ,1fr);
 background:#3e3333;
 color:white;
 justify-content: center;
 align-items: center;
 visibility: hidden;
}
div{
    width: 250px; 
    margin-left: -5px;
    position: relative;
    margin-bottom: 5px;
    margin: 5px;
    padding: 5px;
}
.div1{
 margin-top: 30px;
 margin-bottom: 10px;
}
.div2{
    margin-top: 30px;
    width: 100%;
}
img{
    margin-top: -20px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
