*{
    margin: 0 ;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, sans-serif;
}
.container{
    margin: 0 auto;
    padding: 15px;
    border: 1px solid ;
    height: 150px;
    width: 250px;
    margin-top: 35vh;
}
.main{
    font-size: 25px;
    margin-left: 10px;
}
.input{
    width: 150px;
    height: 25px;
}
.btn{
    height: 30px;
    width: 60px;
    font: bold;
    font-size: 17px;
    background-color: chartreuse;
    border: none;
}
.btn:hover{
    background-color: rgba(128, 255, 0, 0.629);
}