@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  background: #296ca8;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  margin: 0;
  padding-bottom: 100px;
}
.section{
    position: relative;
    width: 600px;
    height: 40rem;
    margin: 10px auto;
    padding: 10px;
    background-color:  #4992d3;
    box-shadow:  0 2px 4px rgba(0, 0, 0, 0.3);
}
nav{
    display: flex;
    height: 70px;
    box-shadow:  0 2px 4px rgba(0, 0, 0, 0.3);
}
.chat-app{
    margin-top: 10px;
    height: 80%;
    width: 100%;
    background: #347bb8;
}
form{
 display: flex;
 margin-top: 5px;
 gap: 5px;
 background: #347bb8;
 bottom: 10px;
}
.nav-div{
    margin: 10px;
    padding: 10px;
}
img{
    position: relative;
    height: 16px;
    width: 16px;
}
.btn{
    padding: 5px 40px;
}
#chatInput{
    padding: 5px;
    height: 34px;
    width: 82%;
    padding-left: 25px; 
}
.plus{
    position: absolute;
    margin-top: 10px;
    margin-left: 5px;
    color: #000000;
}
.message{
    color:#000;
    margin: 10px 10px;
    padding:5px ;
}